.container {
  max-width: 120rem;
  min-height: 60rem;
  margin: 1.5rem auto;
  // border: 1px solid green;
  // position: relative;

  @media only screen and (max-width: $bp-small) {
    margin: 0rem auto;
  }
}

.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  border-bottom: 1px solid $color-dark-blue;
  @media only screen and (max-width: $bp-small) {
    // display: none;
  }
}

.sneaker {
  display: flex;
  flex-direction: row;

  //   &__image {
  //     border: 2px solid yellow;
  //     img {
  //       width: 20%;
  //     }
  //   }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}
